
path {
    stroke: #00A5C9;
    stroke-width: 2;
    fill: none;
}

circle {
    stroke: #00A5C9;
    fill :#00A5C9;
}

.axis path,
.axis line {
    fill: none;
    stroke: #b8b8b8;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #b8b8b8;
}
.axis.x text {
    font-size: 10px;
}
.axis.y text{
    stroke: #00A5C9;
    fill :#00A5C9;
}