body {
    background-color: #eefbff;
    color: #6B6B6B;
}
h3,h4 {
    text-align: center;
}
th {
    font-weight: normal;
}
.tableSum th {
    color: #b8b8b8;
}

.lft, .tableComment.table td.lft{
    text-align: left;
}
.rght {
    text-align: right;
}

.floatRight {
    float: right;
}
.tableComment.table {
    overflow: hidden;
    border-radius: inherit;
}

.tableComment thead {
    background-color: #6B6B6B;
    color: white;
}
.tableComment th.center {
    text-align: center;
}

.tableComment.table td {
    padding: 10px 15px;
    vertical-align: middle;
    text-align: center;
}

.panelGroup {
    margin: 10px 0;
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    border: 0;
}

.filterComponent {
    margin: 15px 0;
}
.ratingList {
    display: inline;
}

.badgeRating {
    cursor: pointer;
    background-color: white;
    color: #6B6B6B;
    opacity:0.4;
    font-weight: normal;
    margin-left: 10px;
    border-radius: 30px;

}

.badgeRating.sizeBig {
    padding: 7px 12px;
    font-size: 18px;
}

.badgeRating.sizeSmall {
    padding: 5px 8px;
    font-size: 11px;
}

.badgeRating.active {
    background-color:#00A5C9;
    color: white;
    opacity:1;
}

.btnUsabilla {
    background-color:#00A5C9;
    color: white;
    margin: 10px;
}

.btnUsabilla:hover,.btnUsabilla:active,.btnUsabilla:focus {
    color: white;
}