<div ng-controller='dashboardCtrl as Dashboard'>

    <div class='container'>
        <div class="panelGroup row">
            <div class="col-md-4 col-xs-12">
                <table class="table tableSum ">
                    <thead>
                    <tr>
                        <th class="lft">Rating</th>
                        <th class="rght"># Items</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key, value) in Dashboard.ratingElements">
                        {{ratingElement}}
                        <td><span class="badge badgeRating sizeSmall active">{{key}}</span> {{value.text}}</td>
                        <td class="rght">{{value.nbElement}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-8 col-xs-12">
                <graph-daily-rating element="Dashboard.listAverage"></graph-daily-rating>
            </div>
            <button ui-sref="map" type="button" class="btn btnUsabilla floatRight">
                World map
            </button>
        </div>
        <div class="filterComponent">
            <input placeholder="Search here!" ng-model="searchComment">
            <div class="ratingList" ng-repeat="el in Dashboard.ratingList">
                <a ng-click="Dashboard.modifyRatingFilter(el.rating)"><span ng-class="{'active':el.active}"
                                                                            class="badge badgeRating sizeBig">{{el.rating}}
                </span></a>
            </div>
        </div>
        <div class="panelGroup">

            <table class="table table-hover table-responsive tableComment">
                <thead>
                <tr>
                    <th class="center" style="width:15%;">Rating</th>
                    <th class="center" style="width:40%;">Comment</th>
                    <th class="center" style="width:15%;">Browser</th>
                    <th class="center" style="width:15%;">Device</th>
                    <th class="center" style="width:15%;">Platform</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in Dashboard.items | filter:searchComment |byRating:Dashboard.ratingList">
                    <td><span class="badge badgeRating sizeBig active">{{item.rating}}
                </span></td>
                    <td class="lft">{{item.comment}}</td>
                    <td>
                        {{item.computed_browser.Browser}} </br>
                        {{item.computed_browser.Version}}
                    </td>
                    <td>
                        <span ng-if="item.computed_browser.Platform ==='Android' || item.computed_browser.Platform ==='iOS'">Mobile</span>
                        <span ng-if="!(item.computed_browser.Platform =='Android' || item.computed_browser.Platform ==='iOS')">Desktop</span>
                    </td>
                    <td>{{item.computed_browser.Platform}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>