<div ng-controller='mapCtrl'>
<div class='container'>
    <div class="panelGroup">
        <button  ui-sref="dashboard" type="button" class="btn btnUsabilla">
            <span class="glyphicon glyphicon-chevron-left" ></span>
            Go back
        </button>

        <div id="mapBubble" style="position: relative; width: 90%; height: 500px;"></div>
    </div>
</div>
</div>
